{
  description = "{{PROJECT_NAME}}";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
  };

  outputs = { self, nixpkgs }: {
    devShells."${builtins.replaceStrings ["$"] [""] "$\{SYSTEM}"}".default = nixpkgs.legacyPackages."${builtins.replaceStrings ["$"] [""] "$\{SYSTEM}"}".mkShell {
      buildInputs = with nixpkgs.legacyPackages."${builtins.replaceStrings ["$"] [""] "$\{SYSTEM}"}"; [
        rustc
        cargo
        rustfmt
        clippy
      ];
    };
  };
}